<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
  	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
	
	<import resource="classpath:ds.xml"/>
	
	<bean id="default.sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds.default" />
		<property name="mapperLocations" value="classpath:mapper/**/*Mapper.xml" />
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		<property name="typeAliasesPackage" value="org.horiga.study.spring.webapp.domain" />
		<property name="failFast" value="true"/>
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="default.sqlSessionFactory" />
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.horiga.study.spring.webapp.persistence" />
		<property name="annotationClass" value="org.horiga.study.spring.webapp.support.mybatis.Mapper" />
		<property name="sqlSessionFactoryBeanName" value="default.sqlSessionFactory"/>
	</bean>
</beans>